{% extends 'base.html.twig' %}

{% block title %}Edit Commune{% endblock %}

{% block body %}
    <h1>Edit Commune</h1>
<hr class="w-25 m-auto">
    {{ include('commune/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('commune_index') }}" class="btn btn-secondary">Retour à la liste</a><br><br>

    {{ include('commune/_delete_form.html.twig') }}
{% endblock %}
